@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --side-column-width: 10vw;
    --row-height: 6rem;

    --gap-large: 2rem;
    --gap-medium: 1rem;
    --gap-small: .5rem;

    --color-lime-50: #f7fee7;
    --color-lime-100: #ecfccb;
    --color-lime-200: #d9f99d;
    --color-lime-300: #bef264;
    --color-lime-400: #a3e635;
    --color-lime-500: #84cc16;
    --color-lime-600: #65a30d;
    --color-lime-700: #4d7c0f;
    --color-lime-800: #3f6212;
    --color-lime-900: #365314;

    --color-main: #FFF;
    --color-main-semi-transparent: rgba(255, 255, 255, 0.4);
    
    --color-secondary: #6aac0f; /* Based on --color-lime-600 */
    --color-secondary-hover: #81b829; /* Based on --color-lime-500 */
    --color-secondary-active: var(--color-lime-500);
    
    --color-shadow: rgb(232, 232, 232);
    --bg-color-main: #EEE;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
}

body {
    min-height: 100vh;
    position: relative;
    display: grid;
    grid: "header                  header                                     header"                   var(--row-height)
          ".                       .                                          ."                        var(--gap-large)
          ".                       list-headers                               ."                        calc(0.75 * var(--row-height))
          ".                       list                                       ."                        min-content
          ".                       add-book-button                            ."                        min-content
          ".                       .                                          ."                        minmax(var(--gap-large), auto)
        / var(--side-column-width) calc(100vw - 2 * var(--side-column-width)) var(--side-column-width);
    font: 16px black Roboto, Helvetica, sans-serif;
    background: var(--bg-color-main);
}

/* Header */
header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc(var(--side-column-width) + var(--gap-large));
    background: var(--color-main);
    font-weight: 700;
}

.logo {
    min-width: 10ch;
    font-size: 2rem;
}

header a {
    min-width: 12ch;
    text-align: end;
    font-size: .8rem;
}

header a span.link {
    color: var(--color-secondary);
    text-decoration: underline;
}

header a span.link:hover {
    color: var(--color-secondary-hover);
}

header a span.link:active {
    color: var(--color-secondary-active);
}

/* List and list header */
.list-headers {
    height: 0;
    min-height: 100%;
    grid-area: list-headers;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--gap-large);
    background: var(--color-main-semi-transparent);
    font-size: 1.3rem;
    font-weight: 700;
}

.book-list {
    grid-area: list;
    display: flex;
    flex-direction: column;
    background: var(--color-main-semi-transparent);
    padding-bottom: var(--gap-medium);
}

.book-list > * {
    display: flex;
    justify-content: space-between;
    padding: var(--gap-medium) var(--gap-large);
}

.title {
    width: 25%;
}

.author {
    width: 25%;
}

.pages {
    width: 20%;
}

.read {
    text-align: end;
    width: 10%;
}

/* Add book div and button */
.add-book {
    grid-area: add-book-button;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: var(--gap-large);
}

button.open-form {
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 3rem;
    background: var(--color-secondary);
    font-size: 2rem;
    color: var(--color-main);
    cursor: pointer;
}

button.open-form:hover {
    background: var(--color-secondary-hover);
}

button.open-form:active {
    background: var(--color-secondary-active);
}

/* Form pop-up */
.form-container {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(146, 146, 146, 0.5);
}

.hidden {
    visibility: hidden;
}

form {    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-small);
    padding: var(--gap-large);
    background: var(--color-main-semi-transparent);
}

legend {
    font-size: 1.3rem;
    font-weight: 700;
}

div.inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

label {
    display: flex;
    flex-direction: column;
}

input {
    margin-top: var(--gap-small);
}

input.error ~ .error-message {
    height: min-content;
    visibility: visible;
}

.error-message {
    font-size: .6rem;
    color: red;
    height: var(--gap-small);
    visibility: hidden;
}

button[type="submit"] {
    padding: var(--gap-small) var(--gap-large);
}

/* Shadows */
.top-shadow {
    box-shadow: 0 -.3rem .3rem var(--color-shadow);
}

.bottom-shadow {
    box-shadow: 0 .3rem .3rem var(--color-shadow);
}

.side-shadows {
    position: relative;
}

.side-shadows:before,
.side-shadows:after {
    content: " ";
    height: 100%;
    position: absolute;
    top: 0;
    width: 1rem;
}

.side-shadows:before {
    box-shadow: -1rem 0 1rem -1rem inset var(--color-shadow);
    left: -1rem;
}

.side-shadows:after {
    box-shadow: 1rem 0 1rem -1rem inset var(--color-shadow);
    right: -1rem;
}

/* Elements */ 
a {
    text-decoration: none;
}