            /*****************************
            
                    BASIC SETTINGS:
            
            - Imports
            - Variables
            - Global reset

            *****************************/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Variables */
:root {
    --side-column-width: 10vw;
    --row-height: 6rem;

    --gap-large: 2rem;
    --gap-medium: 1rem;
    --gap-small: .5rem;

    --color-lime-50: #f7fee7;
    --color-lime-100: #ecfccb;
    --color-lime-200: #d9f99d;
    --color-lime-300: #bef264;
    --color-lime-400: #a3e635;
    --color-lime-500: #84cc16;
    --color-lime-600: #65a30d;
    --color-lime-700: #4d7c0f;
    --color-lime-800: #3f6212;
    --color-lime-900: #365314;

    --color-main: #FFF;
    --color-main-semi-transparent: rgba(255, 255, 255, 0.4);
    
    --color-secondary: #6aac0f; /* Based on --color-lime-600 */
    --color-secondary-hover: #81b829; /* Based on --color-lime-500 */
    --color-secondary-active: var(--color-lime-500);
    
    --color-shadow: rgb(232, 232, 232);
    --bg-color-main: #EEE;
}

/* Global reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
}



            /*****************************
            
                  DOCUMENT STRUCTURE:
            
            Body
                Header
                    Logo
                    Link
                List headers
                Book list
                    Book
                    Book
                    ...
                Add book
                Form (Hidden, activated by Add book button)
                    Top part
                    Inputs and select
                        Error messages
                    Submit button

            *****************************/

body {
    min-height: 100vh;
    position: relative;
    display: grid;
    grid: "header                  header                                     header"                   var(--row-height)
          ".                       .                                          ."                        var(--gap-large)
          ".                       list-headers                               ."                        calc(0.75 * var(--row-height))
          ".                       list                                       ."                        min-content
          ".                       add-book-button                            ."                        min-content
          ".                       .                                          ."                        minmax(var(--gap-large), auto)
        / var(--side-column-width) calc(100vw - 2 * var(--side-column-width)) var(--side-column-width);
    font: 16px black Roboto, Helvetica, sans-serif;
    background: var(--bg-color-main);
}



            /********** HEADER **********/
header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc(var(--side-column-width) + var(--gap-large));
    background: var(--color-main);
    font-weight: 700;
}

/* Logo */
.logo {
    min-width: 10ch;
    font-size: 2rem;
}

/* Link */
header a {
    min-width: 12ch;
    text-align: end;
    font-size: .8rem;
}

header a span.link {
    color: var(--color-secondary);
    text-decoration: underline;
}

header a span.link:hover {
    color: var(--color-secondary-hover);
}

header a span.link:active {
    color: var(--color-secondary-active);
}



            /********** LIST HEADERS **********/
.list-headers {
    height: 0;
    min-height: 100%;
    grid-area: list-headers;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--gap-large);
    background: var(--color-main-semi-transparent);
    font-size: 1.3rem;
    font-weight: 700;
}



            /********** BOOK LIST **********/
.book-list {
    grid-area: list;
    display: flex;
    flex-direction: column;
    background: var(--color-main-semi-transparent);
    padding-bottom: var(--gap-medium);
}

.book {
    display: flex;
    justify-content: space-between;
    padding: var(--gap-medium) var(--gap-large);
}

.book .status button {
    background: inherit;
    font-weight: initial;
}

.book .remove button {
    width: 1.2rem;
    height: 1.2rem;
    font-size: .8rem;
    border-radius: .2rem;
    background: inherit;
}

.book .remove button:hover {
    background: rgb(255, 73, 73);
    color: var(--color-main);
}

.book .remove button:active {
    background: rgb(255, 50, 50);
}



            /********** ADD BOOK **********/
.add-book {
    grid-area: add-book-button;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: var(--gap-large);
}

button.open-form {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    background: var(--color-secondary);
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-main);
}

button.open-form:hover {
    background: var(--color-secondary-hover);
}

button.open-form:active {
    background: var(--color-secondary-active);
}



            /********** FORM **********/
.form-container {
    position: fixed;
    inset: 0; /* Fills the entire screen */
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(146, 146, 146, 0.5);
}

form {    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-medium);
    padding: var(--gap-large);
    background: var(--color-main);
}

/* Top part */
.top-form-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

legend {
    font-size: 1.3rem;
    font-weight: 700;
}

.top-form-div .close {
    background: var(--color-main);
    font-size: 1.3rem;
}

/* Inputs and select */
div.inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
}

label {
    display: flex;
    flex-direction: column;
}

input,
select {
    margin-top: var(--gap-small);
}

/* Error messages */
input.error ~ .error-message.misinput,
#title.copy-error ~ .error-message.copy-error,
select.error ~ .error-message.misinput {
    height: min-content;
    visibility: visible;
}

.error-message {
    height: 0;
    font-size: .6rem;
    color: red;
    height: var(--gap-small);
    visibility: hidden;
}

/* Submit button */
button[type="submit"] {
    align-self: center;
    border-radius: .5rem;
    background: var(--color-secondary);
    color: var(--color-main);
    padding: calc((var(--gap-small) + var(--gap-medium)) / 2) var(--gap-large);
}

button[type="submit"]:hover {
    background: var(--color-secondary-hover);
}

button[type="submit"]:active {
    background: var(--color-secondary-active);
}



            /*****************************
            
                    COMMON STYLING:
            
            - Shadows
            - Property widths
            - Hiding elements

            *****************************/

.top-shadow {
    box-shadow: 0 -.3rem .3rem var(--color-shadow);
}

.bottom-shadow {
    box-shadow: 0 .3rem .3rem var(--color-shadow);
}

.side-shadows {
    position: relative;
}

.side-shadows:before,
.side-shadows:after {
    content: " ";
    height: 100%;
    position: absolute;
    top: 0;
    width: 1rem;
}

.side-shadows:before {
    box-shadow: -1rem 0 1rem -1rem inset var(--color-shadow);
    left: -1rem;
}

.side-shadows:after {
    box-shadow: 1rem 0 1rem -1rem inset var(--color-shadow);
    right: -1rem;
}

/* Propety widths */
.title {
    width: 25%;
}

.author {
    width: 25%;
}

.pages {
    width: 20%;
}

.status {
    text-align: end;
    width: 10%;
}

.remove {
    text-align: end;
    width: 5%;
}

/* Hiding elements */
.hidden {
    visibility: hidden;
}



            /*****************************
            
                      ELEMENTS:

            *****************************/

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    font-weight: 700;
}

button:hover {
    transform: scale(1.05);
    transition: all .1s;
}

button:active {
    transform: scale(1);
    transition: transform .1s;
}