@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --color-main: #FFF;
    --color-main-semi-transparent: rgba(255, 255, 255, 0.4);
    --color-shadow: #DDD;
    --bg-color-main: #EEE;

    --side-column-width: 10vw;
    --row-height: 6rem;

    --gap-large: 2rem;
    --gap-medium: 1rem;
    --gap-small: .5rem;
}

* {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
}

body {
    min-height: 100vh;
    display: grid;
    grid: "header                   header header"                   var(--row-height)
          ".                        form   ."                        min-content
          ".                        list   ."                        min-content
          ".                        .      ."                        minmax(var(--row-height), auto)
        / var(--side-column-width)  calc(100vw - 2 * var(--side-column-width))   var(--side-column-width);
    font: 16px black Roboto, Helvetica, sans-serif;
    background: var(--bg-color-main);
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc(var(--side-column-width) + var(--gap-large));
    background: var(--color-main);
    font-weight: 700;
}

.logo {
    min-width: 10ch;
    font-size: 2rem;
}

header a {
    min-width: 12ch;
    text-align: end;
    font-size: .8rem;
}

form {
    grid-area: form;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-small);
    padding: var(--gap-medium) var(--gap-large);
    background: var(--color-main-semi-transparent);
}

div.inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

label {
    display: flex;
    flex-direction: column;
}

label[for="title"],
.title {
    width: 25%;
}

label[for="author"],
.author {
    width: 25%;
}

label[for="pages"],
.pages {
    width: 20%;
}

label[for="read"],
.read {
    align-items: center;
    width: 10%;
}

input {
    margin-top: var(--gap-small);
}

input.error ~ .error-message {
    height: min-content;
    visibility: visible;
}

.error-message {
    font-size: .6rem;
    color: red;
    height: var(--gap-small);
    visibility: hidden;
}

button[type="submit"] {
    padding: var(--gap-small) var(--gap-large);
}

.book-list {
    grid-area: list;
    display: flex;
    flex-direction: column;
}

.book-list > * {
    display: flex;
    justify-content: space-between;
    padding: var(--gap-medium) var(--gap-large);
    background: var(--color-main-semi-transparent);
}

/* Shadows */
.bottom-shadow {
    box-shadow: 0 .3rem .3rem var(--color-shadow);
}

.side-shadows {
    position: relative;
}

.side-shadows:before,
.side-shadows:after {
    content: " ";
    height: 100%;
    position: absolute;
    top: 0;
    width: 1rem;
}

.side-shadows:before {
    box-shadow: -1rem 0 1rem -1rem inset var(--color-shadow);
    left: -1rem;
}

.side-shadows:after {
    box-shadow: 1rem 0 1rem -1rem inset var(--color-shadow);
    right: -1rem;
}

/* Elements */ 
a {
    text-decoration: none;
}